html, body {
    background: url('data:image/gif;base64,R0lGODlhDAAMAJEAAJ+7/f///////wAAACH5BAUUAAIALAAAAAAMAAwAAAIRlI+pa8Dnnpwg1hZRnvzt9RUAOw==') /*../img/bg.gif*/;
}

.panel {
    background-color: rgba(255, 255, 255, 0.6);
}

.joint_button {
    cursor: pointer;
}

.joint_button_bg {
    fill: #FFFFFF;
    -moz-transition: fill linear 0.2s;
    -o-transition: fill linear 0.2s;
    -webkit-transition: fill linear 0.2s;
    transition: fill linear 0.2s;
}

.joint_button:hover .joint_button_bg {
    fill: #f0ad4e;
}

.joint_button.is-selected .joint_button_bg {
    fill: #f0ad4e;
}