<div class="form-group">
    <label class="control-label">
        Joint Name:
        {{ $ctrl.getJointName() }}
    </label>
    <label class="control-label">
        Angle:
        <input type="number" min="-900" max="900"
               ng-model="$ctrl.joint_settings_model.current"
               ng-change="$ctrl.onChange()"
        />
        [1/10 deg.]
    </label>
    <input type="range" min="-900" max="900"
           ng-model="$ctrl.joint_settings_model.current"
           ng-change="$ctrl.onChange()"
    />
</div>